# Introduction
We bring again the two main data structures in the pandas library

In [1]:
import pandas as pd
import numpy as np

## Series
A series is a 1D array-like object containing a sequence of values similar to numpy types and associated array of labels called its index.

In [2]:
ser = pd.Series([4,7,-53])
ser

0     4
1     7
2   -53
dtype: int64

In [3]:
# we can get the array rep and index object of the series via its values and index attributes resp
## values
ser.values

array([  4,   7, -53])

In [4]:
## indices
ser.index

RangeIndex(start=0, stop=3, step=1)

In [5]:
# usually, it will be desirable to create a Series with an index identifying each data point with a label
ser2 = pd.Series([4,7,-5,3], index=['d','b','a','c'])
ser2

d    4
b    7
a   -5
c    3
dtype: int64

In [6]:
# we can use labels in the index when selecting single values or a set of values
ser2['a']

-5

In [7]:
ser2['d'] = 6
ser2[['c','a','d']]

c    3
a   -5
d    6
dtype: int64

Using NumPy functions or NumPy-like operations, such as filtering with a boolean
array, scalar multiplication, or applying math functions, will preserve the index-value
link:

In [8]:
ser2[ser2>0]

d    6
b    7
c    3
dtype: int64

In [9]:
# multiplication
ser2 * 2

d    12
b    14
a   -10
c     6
dtype: int64

In [10]:
np.exp(ser2)

d     403.428793
b    1096.633158
a       0.006738
c      20.085537
dtype: float64

Another way to think about a Series is as a fixed-length, ordered dict, as it is a map‚Äê
ping of index values to data values. It can be used in many contexts where you might
use a dict:

In [11]:
'b' in ser2

True

In [12]:
'e' in ser2

False

In [13]:
# should you have data contained in a python dict, you can create a Series from it by passing the dict
sdata = {
    'Ohio': 35000,
    'Texas': 71000,
    'Oregon': 16000,
    'Utah': 5000
}
ser3 = pd.Series(sdata)
ser3

Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64

When you are only passing a dictionary, the index in the resulting Series will have the dictionary's keys in sorted order. You can override this by passing the dictionary keys in the order you want them to appear in the resulting Series.

In [32]:
states = ['California', 'Ohio', 'Oregon', 'Texas']
ser4 = pd.Series(sdata, index=states)
ser4

California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

California is NaN because it doesnt exist in the dictionary. Utah was not included in the series either.

In [40]:
# the isnull and not null functions can be used to detect missing data
print("ser4 is null:\n{}\n".format(pd.isnull(ser4)))
print("ser4 is not null:\n{}\n".format(pd.notnull(ser4)))

# and instance methods too
print("ser4 is null:\n{}\n".format(ser4.isnull()))

ser4 is null:
California     True
Ohio          False
Oregon        False
Texas         False
dtype: bool

ser4 is not null:
California    False
Ohio           True
Oregon         True
Texas          True
dtype: bool

ser4 is null:
California     True
Ohio          False
Oregon        False
Texas         False
dtype: bool

In [41]:
ser3

Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64

In [42]:
ser4

California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

In [43]:
# Series automatically align by index label in mathematical operations
ser3 + ser4

California         NaN
Ohio           70000.0
Oregon         32000.0
Texas         142000.0
Utah               NaN
dtype: float64

For values not matching, there is a NaN value assigned to.

In [62]:
for x in (ser4+ser3).values:
    if x/1 == x:
        print(x)

70000.0
32000.0
142000.0

In [69]:
a = pd.Series(sdata)
a

Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64

In [73]:
a.index.name = 'state'
#a.values.name = 'population' : this does not work
a

state
Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64